
.mini-side-bar-container {
  width: 50px;
  border-right: 1px solid rgba(76, 76, 76, 0.534);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-side-bar-container.idle {
  display: none;
}

.mini-side-bar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.mini-side-bar-icons > .icons-wrapper.first-icon {
  margin-bottom: 20px;
}

.mini-side-bar-tooltip {
  position: absolute;
  left: 100%;
  margin-left: 5px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 1cap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
}

.icons-wrapper:hover .mini-side-bar-tooltip{
  opacity: 1;
  
}

.mini-side-bar-side-bar-icon {
  width: 16px;
  stroke-width: 1px;
}

.mini-side-bar-new-chat-icon {
  width: 18px;
  stroke-width: 1px;
}

.mini-side-bar-search-chat-icon {
  width: 18px;
  stroke-width: 2px;
}

.mini-side-bar-gallery-icon {
  width: 18px;
  stroke-width: 2px;
}

.mini-side-bar-star-icon {
  width: 22px;
  stroke-width: 2px;
  fill: transparent;
  stroke: white;
}

.mini-side-bar-user-icon {
  width: 22px;
  stroke-width: 2px;
}

@media (max-width: 768px) {
  .mini-side-bar-container {
    display: none;
  }
}