* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-page {
  background-color: rgb(37, 37, 37);
}

.home-container-header {
  display: flex;
  justify-content: space-between;
}

.home-container-header {
  padding: 10px;
}

.home-container-upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 2.5cap;
  background-color: rgb(51, 51, 130);
}

.home-container-upgrade:hover {
  cursor:pointer;
  background-color: rgba(86, 86, 214, 0.701);
}

.home-container-upgrade span {
  color: skyblue;
  font-size: 14px;
  font-weight: bold;
}

.home-container-upgrade svg {
  width: 20px;
  fill: skyblue;
  stroke: skyblue;
}

.home-container-temporary-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.home-container-temporary-chat:hover {
  background-color: rgba(94, 94, 94, 0.589);
}

.home-container-temporary-chat svg {
  width: 20px;
}