* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-weight: 1;
  font-size: 30px;
  text-align: center;
  margin-top: 175px;
}

.home-page {
  background-color: rgb(37, 37, 37);
  height: 100vh;
  display: flex;
  
}

.home-container {
  width: 100%;
}

.home-container-header {
  display: flex;
  justify-content: space-between;
}

.home-container-header {
  padding: 10px;
}

.home-container-upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 2.5cap;
  background-color: rgba(47, 47, 121, 0.756);
}

.home-container-upgrade:hover {
  cursor:pointer;
  background-color: rgba(60, 60, 151, 0.701);
}

.home-container-upgrade span {
  color: rgb(152, 223, 252);
  font-size: 14px;
  font-weight: bold;
}

.home-container-upgrade svg {
  width: 20px;
  fill: rgb(152, 223, 252);
  stroke: rgb(152, 223, 252);
}

.home-container-temporary-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.home-container-temporary-chat:hover {
  background-color: rgba(94, 94, 94, 0.589);
  cursor: pointer;
}



.home-container-temporary-chat svg {
  width: 20px;
}

.home-container-temporary-chat-tooltip {
  position: absolute;
  transform: translateY(45px);
  right: 0;
  width: 145px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 1cap;
  background-color: black;
  color: white;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}

.home-container-temporary-chat:hover .home-container-temporary-chat-tooltip {
  opacity: 1;
}

.mini-side-bar-hamburger-icon {
  width: 24px;
  stroke-width: 2px;
  display: none;
}


.mini-side-bar-hamburger-icon:hover {
  cursor:pointer;
}

@media (max-width: 768px) {
  .mini-side-bar-hamburger-icon  {
    display: flex;
  }
}